page-cart {
    .compact .item-inner .input-wrapper ion-label {
        margin: 0 !important;
    }

    .empty-cart {
        font-size: 10.2em;
        display: block;
        margin: 0.2em auto 0;
        color: red;
      }

      h4 {
        font-size: 2.2rem;
        text-align: center;
        color:red;
      }

}

